<div class="container">
  <div class="row">
    <div class="col-4 ">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">callback</button>
  <div id="demo" class="collapse">
   callback
  </div></div>
  <div class="col-4 ">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo1">promise</button>
  <div id="demo1" class="col-4 collapse">
  promise
  </div></div>
  <div class="col-4 ">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2">observable</button>
  <div id="demo2" class="col-4 collapse">
   observable
  </div></div>
  </div>
</div>